/*// ======================*/
/*	1.General Code*/
/*==========================*/



html{
	overflow-x:hidden;
}

body {
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 28px;
  overflow-x: hidden;
  font-weight: 400;
  color: #555b62;
  left: 0;
  background-color:#fff;
  transition: 0.3s;
}


/*---------- button -------------------*/
 .btn{
  padding: .3em 1.2em;
  border-radius: 0;
  background-color: #000;
  text-align: center;
  z-index: 1;
  color: #fff;
  }
  .btn:focus{
    outline: 0;
    box-shadow: none;
  }
 /*--------------*/
.stopWatch{
  margin-top: 200px;
}
.mr-10{
  margin-right: 10px;
}
.btn-group{
  transform: translateX(33%);
}
 .stopWatch h3{
  margin-top: 30px;
  margin-bottom: 30px;
 }
 .stopWatch{
 margin-top: 200px;
 }
 .text{
  color: #fff;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
 }
 .bgStop{
  padding: 30px;
  background-color: #ccc;
 }