/*// ======================*/
/*	1.General Code*/
/*==========================*/



html{
	overflow-x:hidden;
}

body {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 28px;
  overflow-x: hidden;
  font-weight: 400;
  color: #555b62;
  left: 0;
  background-color:#273C48;
  transition: 0.3s;
}

/*----------------------
	1.1. Typography
------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  margin: 0 auto 20px;
  font-weight: 500;
  width: 100%;
  word-break:break-word;
  line-height:1.4;
}

/*---------- button -------------------*/
.mt-100{
  margin-top: 100px;
}
.randomCont{
  padding: 30px;
  border: 2px solid #000;
  text-align: center;
}
.button{
  cursor: pointer;
}